
<!--Navbar-->

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black fixed-top" >



  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="Home">
    <img class="img-responsive" id="logo" src="assets/img/Brand elements/Captain Wood Force_Final-02.png" alt="logo">
    Home
  </a>
</mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">

          <li class="nav-item">
              <a class="nav-link waves-light" href="Nevaeh" mdbWavesEffect>Nevaeh</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" href="Alex" mdbWavesEffect>Alex</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" href="Maddex" mdbWavesEffect>Maddex</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" href="Lilliana" mdbWavesEffect>Lilliana</a>
      </li>
</ul>
      </links>



</mdb-navbar>
<!--/.Navbar-->

