body,
html {
  height: 100%;
}
body{
  padding-top: 71px;

}

.bg {
  /* The image used */
  background-image: url("https://allmight.blob.core.windows.net/sakura/main/Santa_2019.JPG");
  /* Full height */
  height: 135%;
  /* Center and scale the image nicely */
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;


}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  font-family: cursive;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
/* Position text in the top-left corner */
/* .topleft {
  position: absolute;
  top: 5%;
  left: 16px;
} */
/* #logo{
  width: 150px;
}
 */
